@charset "UTF-8";
*{
    margin: 0px;
}
article{
    background-color: white;
    text-align: left;
    padding: 10px;
}
article p{
    font-family: 'conteudo';
    margin: 30px;
    padding: 10px;
    width: 520px;
    font-size: 3em;
}
article#a2{
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: left;
}
#a2 > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.500);
}
article#a5{
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: left;
    padding: 10px;
}
#a5 > p{
    color: white;
    background-color: rgba(0, 0, 0, 0.500);
    text-shadow: 1px 1px black;
}